@import url('https://cdn.jsdelivr.net/npm/pretendard@1.3.8/dist/web/static/pretendard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: rgb(250, 250, 250);
    color: rgb(23, 23, 23);
    font-family: 'Pretendard', 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
  }

  h1 {
    font-size: 47.9625px;
    line-height: 47.9625px;
    font-weight: 600;
    color: rgb(23, 23, 23);
  }

  input:not([type='checkbox']):not([type='radio']),
  select,
  textarea,
  button {
    min-height: 52px;
    padding: 0;
  }
}

